.history{
    display: flex;
    justify-content: space-around;
    /* background-color: gainsboro; */
    border-style: solid;
    border-width: thin;
    border-radius: 7px;; 
    margin-left: 5%;
    margin-right: 5%;
}

.container{
    width: 33%;
    text-align: center;
    margin-top: 15px;
}