.livescore {
    display: flex;
    justify-content: space-around;
    background-color: rgb(173, 199, 195);
    border-style: solid;
    border-width: medium;
    border-radius: 10px;; 
    margin-left: 5%;
    margin-right: 5%;
}

.container{
    width: 30%;
    text-align: center;
}

.time {
    width: 3%;
    text-align: right;
}
